<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>图册</title>
    <meta name="description" content="blog, java , javascript , web">
    <meta name="author" content="idyllim">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="application-name" content="idyllim">
    <link type="text/plain" rel="author" href="./humans.txt">
    <link rel="stylesheet" href="./assets/css/normalize.css">
    <link rel="stylesheet" href="./assets/css/main.css">
    <link rel="stylesheet" href="./assets/css/fotorama.css">
    <script src="./assets/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<header>
    <nav class="m">
        <ul>
            <li class="logo"><a href="">Idyllim | 我思故我在</a></li>
            <li><a href="http://www.idyllim.com/topics/life">生活</a></li>
            <li><a href="http://www.idyllim.com/topics/code">编程</a></li>
            <li><a href="http://www.idyllim.com/topics/mind">思维</a></li>
        </ul>
    </nav>
</header>
<div id="content">
    <div id="gallery">

        <div class="fotorama gallery "
        data-width="700"
        data-ratio="700/467"
        data-max-width="100%"
        data-nav="thumbs"
        data-allowfullscreen="true"
        data-keyboard='{"space": true, "home": true, "end": true, "up": true, "down": true}'
        data-shuffle="true">
            <img class="lazy" data-thumb="upload/20150809/2.jpg" alt="">
            <img class="lazy" data-thumb="upload/20150809/3.jpg" alt="">
            <img class="lazy" data-thumb="upload/20150809/4.jpg" alt="">
            <img class="lazy" data-thumb="upload/20150809/5.jpg" alt="">
            <img class="lazy" data-thumb="upload/20150809/6.jpg" alt="">
            <img class="lazy" data-thumb="upload/20150809/7.jpg" alt="">
            <img class="lazy" data-thumb="upload/20150809/8.jpg" alt="">
        </div>

    </div>
</div>
<footer>

</footer>
<!-- <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script> -->
<script>window.jQuery || document.write('<script src="./assets/js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
<script src="./assets/js/vendor/fotorama.js"></script>
<script src="./assets/js/main.js"></script>
<script>
</script>
</body>
</html>